body{
  background-color: lightsteelblue;
}
h1, h2, h3{
  color: blue;
  font-family: 'Montserrat';
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 26px;
}
p{
  color: black;
  font-size: 18px;
  font-family: 'open-sans';
}